<section class="view" id="about_me">
    <h3 id="terminalHeaderText"></h3>

    <div class="prompt">
        <span class="user" id="promptText"></span>
        <p id="responseText"></p>
    </div>
    <div id="yapping_area">
        <h2 id="whoami"></h2>
        <p class="yapping" id="whoyapping"></p>
        <hr class="aboutme_separator">
        
        <h2 id="mypath"></h2>
        <p class="yapping" id="pathyapping"></p>
        <hr class="aboutme_separator">
        
        <h2 id="why_did_i_choose_this"></h2>
        <p class="yapping" id="whyyapping"></p>
        <hr class="aboutme_separator">
        
        
        <h2 id="interests_and_skills"></h2>
        <p class="yapping"  id="interestyapping"></p>
        <hr class="aboutme_separator">
        
        <h2 id="actual_situation"></h2>
        <p class="yapping" id="situationyapping"></p>
    </div>
    <button id="returnHomeButton"><h1 id="returnhometext"></h1></button>
</section>