<section class="view" id="contact">
    <h3 id="terminalHeaderText"></h3>

    <div class="prompt">
        <span class="user" id="promptText"></span>
    </div>

    <div id="botones_contacto_area">
        <div class="container_boton_contacto">
            <a href="mailto:carlos.dz16180@gmail.com">
                <button id="botonCorreoElectronico" class="botonContactoStyle">&ltSEND MAIL&gt</button>
            </a>
        </div>
        <div class="container_boton_contacto">
            <a href="#" onclick="alert('The CV document is under work'); return false;">
                <button id="botonDescargaCV" class="botonContactoStyle">&ltDOWNLOAD CV&gt</button>
            </a>
        </div>
    </div>
    <button id="returnHomeButton"><h1 id="returnhometext"></h1></button>
</section>