<section class="view" id="home">
    <h3 id="terminalHeaderText"></h3>

    <div class="prompt">
        <span class="user" id="promptText"></span>
        <p id="responseText"></p>
    </div>

    <div id="buttons">
        <button><h1 id="opt1Text"></h1></button>
        <button id="boton_para_ir_a_proyectos"><h1 id="opt2Text"></h1></button>
        <button><h1 id="opt3Text"></h1></button>        
        <button><h1 id="opt4Text"></h1></button>
        <button><h1 id="opt5Text"></h1></button>
    </div>
</section>