<section class="view" id="tech_stack">
    <h3 id="terminalHeaderText"></h3>

    <div class="prompt">
        <span class="user" id="promptText"></span>
        <p id="responseText"></p>
    </div>
    <div id="tech_stack_area">
        <div class="tech_area">
            <h4 id="vControlAndCollab"></h4>
            <ul>
                <li id="git"></li>
                <li id="github"></li>
                <li id="linear"></li>
                <li id="slack"></li>                
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="languagues"></h4>
            <ul>
                <li id="java"></li>
                <li id="javascript"></li>
                <li id="php"></li>
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="frontend"></h4>
            <ul>
                <li id="html5"></li>
                <li id="css"></li>
                <li id="tailwind"></li>
                <li id="vue"></li>
                <li id="nextjs"></li>                
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="backend"></h4>
            <ul>
                <li id="nodejs"></li>
                <li id="express"></li>
                <li id="restapi"></li>              
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="databases"></h4>
            <ul>
                <li id="mysql"></li>
                <li id="postgresql"></li>
                <li id="mongodb"></li>      
                <li id="mongodbatlas"></li>                           
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="desktopdevelopment"></h4>
            <ul>
                <li id="javaswing"></li>                          
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="hosting"></h4>
            <ul>
                <li id="vercel"></li>           
                <li id="cloudflare"></li>               
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="webandinfrastructure"></h4>
            <ul>
                <li id="apache"></li>           
                <li id="nginx"></li>    
                <li id="cronjobs"></li>                    
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="toolsanduttility"></h4>
            <ul>
                <li id="insomnia"></li>           
            </ul>
        </div>
        <div class="tech_area">
            <h4 id="offimatic"></h4>
            <ul>
                <li id="excelformulas"></li>
                <li id="excelpowerquery"></li>
                <li id="networkmanagement"></li>  
                <li id="usersandgroupsmanagement"></li>  
            </ul>
        </div>
    </div>
    <button id="returnHomeButton"><h1 id="returnhometext"></h1></button>
</section>