:root{
    --terminal-background: #1C1C1C;
    --terminal-text: #33FF00;
    --font: 'IBM-VGA-8x16';
}

@font-face {
    font-family: 'IBM-VGA-8x16';
    src: url('../public/fonts/Px437_IBM_VGA_8x16.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    color: var(--terminal-text);
    background-color: var(--terminal-background);
    padding: 1%;
}

button{
    all: unset;
}
h1{
    all: unset;
}
h2{
    all:unset;
}

#home{
    background-color: var(--terminal-background);
    h3{
        text-align: center;
        font-size: 2.2rem;
        margin: 0;
    }
    h1{
        font-size: 3rem;
    }

    .user{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.3rem;
    }
}

.view{
    background-color: var(--terminal-background);
    h3{
        text-align: center;
        font-size: 2.2rem;
        margin: 0;
    }
    h1{
        font-size: 3rem;
    }

    .user{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.3rem;
    }
}


#buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button{
        color: var(--terminal-text);
        background: var(--terminal-background);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: fit-content;
        padding-left: 0.4rem;
        padding-right: 12rem;
    }

    button::before{
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 215%;
        height: 100%;
        background: linear-gradient(45deg, var(--terminal-text) 50%, var(--terminal-background) 50%);
        transition: all 0.9s ease;
        z-index: 0;
        opacity: 0;

    }

    button:hover::before {
        left: 0%;
        opacity: 1;
    }
    button span,
    button h1 {
        position: relative;
        z-index: 1;
        margin: 0;
        transition: color 0.5s ease;
        font-size: 4.2rem;
    }
    
    button:hover span,
    button:hover h1 {
        color: var(--terminal-background);
    }
}

#projects_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 8rem;
}

.project_container{
    display: flex;
    flex-direction: column;
}


#boton_presionable_proyecto{
    position: relative;
}
#boton_presionable_proyecto:hover{
    cursor: pointer;
}
#imagen_proyecto{
    position: absolute;
    top: -5px;
    left: -5px;
}


.project_container h2{
    font-size: 3rem;
    padding: 0px;
}
.project_container li{
    font-size: 1.7rem;
}
.project_container ul{
    margin: 0px;
}

#returnHomeButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    transform-origin: center;
    z-index: 10;
    padding: 5px 10px;
    background-color: var(--terminal-background);
    color: var(--terminal-text);
    border: solid 2px var(--terminal-text);
    cursor: pointer;
    min-width: 20rem;
    min-height: 3rem;
    display: none;
    align-items: center;
}

#returnHomeButton:active {
    transform: translate(-50%) scale(0.9);
}

.workplace_container{
    #workplace_name{
        font-size: 3rem;
    }
    #workplace_time{
        margin-left:1.5% ;
        font-size: 2rem;
    }
    #workplace_position{
        text-align: left;
    }
    .workplace_separator{
        color: var(--terminal-text);
    }
}
#experience_area{
    margin-bottom: 8rem;
}

.aboutme_separator{
    color: var(--terminal-text);
    display: none;
}
#yapping_area{
    h2{
        font-size: 3rem;
    }
    margin-bottom: 8rem;
}

#tech_stack_area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-bottom: 8rem;

    h4{
        font-size: 1.7rem;
    }
    li{
        list-style-type: none;
        font-size: 1.5rem;
    }
}

#botones_contacto_area{
    display: flex;
    flex-direction: column;
    height: 100%;
    a{
        text-decoration: none;
    }
}

.container_boton_contacto{
    height: 35%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
}
.botonContactoStyle{
    background-color: var(--terminal-background);
    color: var(--terminal-text);
    font-size: 6rem;
    text-decoration: none;
    border: solid 2px var(--terminal-text);
    text-align: center;
    width: 100%;
    transform: scale(1);
}

.botonContactoStyle:hover:active{
    transform: scale(0.9);
}

#app{
    height: 100vh;
}
#contact{
    height: 100%;
}
